<!-- sub banner start  -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="page-name">
            <h1>Car List</h1>
        </div>
    </div>
    <div class="page-info">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="breadcrumb-area">
                        <ul>
                            <li><a href="index.html">Index</a></li>
                            <li><span>/</span>Car List</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contact-info">
                        <ul>
                            <li><i class="fa fa-phone"></i> +1-8X0-666-8X88</li>
                            <li><a href="contact-1.html" class="btn btn-md btn-theme">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sub banner end  -->
 
<!-- all thing  -->


<!-- end third line  -->

<div class="container">
    <div class="row">
       <div class="text-center my-3  text-bg-primary ">
        <h2>Click To Show Cars</h2>
       </div> 
        <div class="pagination-box d-flex justify-content-center  ">

            <nav aria-label="Page navigation example ">
                <ul class="pagination ">
                    <li class="page-item"><a class="page-link" ><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link"  routerLink="/ourcars/pageone"href="#">1</a></li>
                    <li class="page-item"><a class="page-link" routerLink="/ourcars/pagetwo" >2</a></li>
                    <li class="page-item"><a class="page-link  " routerLink="/ourcars/pagethree">3</a></li>
                    <li class="page-item"><a class="page-link"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
