
  
    <!-- start bannar  -->
    <div class="banner" id="banner">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item item-bg active">
            <img class="d-block w-100 h-100" src="banner-1.jpg" alt="banner">
            <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
              <div class="carousel-content container">
                <div class="text-center">
                  <h1>Drive Into Excellence! <br/>Your Trusted Car Dealership</h1>
                  <p>At our dealership, we pride ourselves on offering an amazing selection of vehicles that blend performance, style, and affordability. Let us help you find your next car today!</p>
                  <a routerLink="login" class="btn btn-lg btn-round btn-theme">Get Started Now</a>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item item-bg">
            <img class="d-block w-100 h-100" src="banner-2.jpg" alt="banner">
            <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
              <div class="carousel-content container">
                <div class="text-left">
                  <h1>Discover the Joy of Driving!<br/>Quality Cars for Every Journey</h1>
                  <p>Welcome to our car dealership, where we make buying a car an easy and enjoyable experience. Browse our wide range of vehicles and take the first step towards your next adventure!</p>
                  <a routerLink="login" class="btn btn-lg btn-round btn-theme">Get Started Now</a>

                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item item-bg">
            <img class="d-block w-100 h-100" src="banner-3.jpg" alt="banner">
            <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
              <div class="carousel-content container">
                <div class="text-right">
                  <h1>We Love Make Things <br/>Amazing And Simple</h1>
                  <p>At our dealership, we are dedicated to providing exceptional cars and unparalleled customer service. Join us and discover a world of automotive possibilities tailored just for you!</p>
                  <a routerLink="login" class="btn btn-lg btn-round btn-theme">Get Started Now</a>
          
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="slider-mover-left" aria-hidden="true">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="slider-mover-right" aria-hidden="true">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    
      
  <!-- end banner  -->
    
  <!-- start section two -->
  <div class="welcome-section content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 wow fadeInLeft delay-04s">
                <div class="text">
                    <h1><span>Why</span> Choose Us?</h1>
                    <p>At our dealership, we are committed to providing you with an exceptional car buying experience. Our team of experts is here to guide you through every step, ensuring you find the perfect vehicle that meets your needs and budget. With a wide selection of top-quality cars and personalized service, we strive to make your journey enjoyable and stress-free.</p>
                    <a routerLink="ourcars" class="btn btn-sm btn-outline-primary">View Cars</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 offset-lg-1 wow fadeInRight delay-04s">
                <div class="car-slider">
                    <div id="carouselExampleIndicators-management" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="3"></li>
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="4"></li>
                            <li data-bs-target="#carouselExampleIndicators-management" data-bs-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 img-fluid" src="partner2.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 img-fluid" src="13080_large.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100 img-fluid" src="partner15.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100 img-fluid" src="bmw.jpg" alt="Fourt slide">
                          </div>
                            <div class="carousel-item">
                              <img class="d-block w-100 img-fluid" src="partner5.jpg" alt="five slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="corlloa.jpg" alt="five slide">
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators-management" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators-management" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- end section two  -->
  
  <!-- counter strart  -->
  <div class="counters overview-bgi">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="media counter-box">
            <div class="media-left">
              <i class="bi bi-car-front" style="font-size: 2rem;"></i>
            </div>
            <div class="media-body">
              <h1 class="counter" data-target="230">0</h1>
              <p>Vehicles Plus</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="media counter-box">
            <div class="media-left">
              <i class="bi bi-star" style="font-size: 2rem;"></i>
            </div>
            <div class="media-body">
              <h1 class="counter" data-target="455">0</h1>
              <p>Dealer Reviews</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="media counter-box">
            <div class="media-left">
              <i class="bi bi-trophy" style="font-size: 2rem;"></i>
            </div>
            <div class="media-body">
              <h1 class="counter" data-target="80">0</h1>
              <p>Winning Awards</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="media counter-box">
            <div class="media-left">
              <i class="bi bi-person-check" style="font-size: 2rem;"></i>
            </div>
            <div class="media-body">
              <h1 class="counter" data-target="670">0</h1>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- end counter  -->
   
  <!-- start feature car  -->
   <div class="ground-feature">
    <div class="heading-feature">
      <h1>
        <span style="color: #3C5BFC;">Latest</span> Additions
       </h1>
       <p>
        Explore our latest selection of vehicles that have just arrived on our lot!
       </p>
     </div>

     <!-- cards  -->
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100 " >
              <img src="card1.jpg" class="card-img-top " alt="...">
           
              <div class="card-body">
                <p class="dds">$165,000</p>
                <h5 class="card-title" style="color: #3C5BFC;">Audi A1 SPORTBACK</h5>
                <hr>
                <p class="card-text " style="padding-bottom: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. dolorem sunt officia quidem quisquam distinctio aperiam nesciunt expedita error soluta doloribus perspiciatis molestias deleniti?</p>
              </div>
              <div class="card-footer d-flex align-items-center ">

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-car-front-fill" style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">Sport</p>
                </div>

                
                <div class="d-flex w-50  justify-content-center ">
                  <i class="bi bi-fuel-pump-diesel-fill"  style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px; padding-left: 10px;">Diesel</p>
                </div>

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-radar"  style="color: #3C5BFC; font-size: 20px;" ></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">25,000</p>
                </div>

               
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 " >
              <img src="card3.jpg" class="card-img-top " alt="...">
           
              <div class="card-body">
                <p class="dds">$170,000</p>
                <h5 class="card-title" style="color: #3C5BFC;">Audi R8 2016</h5>
                <hr>
                <p class="card-text"  style="padding-bottom: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. dolorem sunt officia quidem quisquam distinctio aperiam nesciunt expedita error soluta doloribus perspiciatis molestias deleniti?</p>
              </div>
              <div class="card-footer d-flex align-items-center ">

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-car-front-fill" style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">Sport</p>
                </div>

                
                <div class="d-flex w-50  justify-content-center ">
                  <i class="bi bi-fuel-pump-diesel-fill"  style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px; padding-left: 10px;">Diesel</p>
                </div>

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-radar"  style="color: #3C5BFC; font-size: 20px;" ></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">17,000</p>
                </div>

               
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 " >
              <img src="card2.jpg" class="card-img-top " alt="...">
           
              <div class="card-body">
                <p class="dds">$185,000</p>
                <h5 class="card-title" style="color: #3C5BFC;">Audi A7 TDI</h5>
                <hr>
                <p class="card-text" style="padding-bottom: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. dolorem sunt officia quidem quisquam distinctio aperiam nesciunt expedita error soluta doloribus perspiciatis molestias deleniti?</p>
              </div>
              <div class="card-footer d-flex align-items-center ">

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-car-front-fill" style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">Sport</p>
                </div>

                
                <div class="d-flex w-50  justify-content-center ">
                  <i class="bi bi-fuel-pump-diesel-fill"  style="color: #3C5BFC; font-size: 20px;"></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px; padding-left: 10px;">Diesel</p>
                </div>

                <div class="d-flex w-25  justify-content-evenly">
                  <i class="bi bi-radar"  style="color: #3C5BFC; font-size: 20px;" ></i>
                  <p style="font-size: 15px; color: #535353;padding-top: 3px;">12,000</p>
                </div>
         
              </div>
            </div>
          </div>
        </div>
      </div>

   </div>

<!-- cards end  -->
 
<!-- parteners start  -->
<div class="partners bg-grea partners-two">
  <div class="container">
    <h2 class="text-center" style="color: #3C5BFC; padding-bottom: 25px;">Partners</h2>
    <div class="slick-slider-area">
      <div class="slick-carousel">
        <div class="slick-slide-item">
          <img src="partner15.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner2.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner33.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner44.webp" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner5.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner6.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner7.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner88.jpg" alt="brand">
        </div>
      </div>
    </div>
  </div>
</div>
   <!-- parteners end  -->

   <!-- service start  -->
   <div class="services-2 content-area-7">
    <div class="container">
        <div class="main-title">
            <h1><span>Our</span> Services</h1>
            <p>We Provide Faster Services</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 service-info">
                <div class="service-infos">
                    <h2>01</h2>
                    <div class="icon">
                        <i class="bi bi-car-front" style="font-size: 2rem;"></i>
                    </div>
                    <h3>Air Conditioning</h3>
                    <p>We offer efficient and reliable air conditioning services to ensure a comfortable environment for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 service-info bdr">
                <div class="service-infos">
                    <h2>02</h2>
                    <div class="icon">
                        <i class="bi bi-arrow-repeat" style="font-size: 2rem;"></i>
                    </div>
                    <h3>Changes</h3>
                    <p>Our team is ready to assist you with any changes or modifications needed to keep your systems updated.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 service-info">
                <div class="service-infos">
                    <h2>03</h2>
                    <div class="icon">
                        <i class="bi bi-lock" style="font-size: 2rem;"></i>
                    </div>
                    <h3>Security</h3>
                    <p>We prioritize your safety with top-notch security solutions tailored to your specific needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 service-info bdr">
                <div class="service-infos">
                    <h2>04</h2>
                    <div class="icon">
                        <i class="bi bi-headset" style="font-size: 2rem;"></i>
                    </div>
                    <h3>Free Support Anytime</h3>
                    <p>Our support team is available 24/7 to assist you with any questions or concerns, free of charge.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service end  -->

<!-- footer start  -->
<footer class="footer">
  <div class="container footer-inner">
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <div class="footer-item">
                  <h4>Contact Us</h4>
                  <div class="f-border"></div>
                  <ul class="contact-info">
                      <li>
                          Address: 20/F Green Road, Dhanmondi, Dhaka
                      </li>
                      <li>
                          Email: <a href="mailto:info@themevessel.com">info.com</a>
                      </li>
                      <li>
                          Phone: <a href="tel:+0477-85x6-552">+XXXX XXXX XXX</a>
                      </li>
                      <li>
                          Fax: +XXXX XXXX XXX
                      </li>
                  </ul>

                  <ul class="social-list clearfix">
                      <li><a href="https://www.facebook.com/profile.php?id=61558366100244" target="_blank" class="facebook-bgh"><i class="bi bi-facebook"></i></a></li>
                      <li><a href="https://wa.me/201033282165" target="_blank" class="whatsapp-bgh"><i class="bi bi-whatsapp"></i></a></li>
                      <li><a href="https://www.instagram.com/mohamedalli9090/profilecard/?igsh=a3d3djcybzRlcmtl" target="_blank" class="instagram-bgh"><i class="bi bi-instagram"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/mohamed-ali-996254247?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"  class="linkedin-bgh"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="recent-posts footer-item">
                  <h4>Recent Posts</h4>
                  <div class="f-border"></div>
                  <div class="media mb-4">
                      <a class="pr-3">
                          <img src="banner-1.jpg" alt="car">
                      </a>
                      <div class="media-body align-self-center">
                          <h5>
                              <a href="car-details.html">2016 Audi S5 Coupe</a>
                          </h5>
                          <p>February 27, 2022</p>
                          <p> <strong>$245,000</strong></p>
                      </div>
                  </div>
                  <div class="media mb-4">
                      <a class="pr-3" href="car-details.html">
                          <img src="banner-3.jpg" alt="car">
                      </a>
                      <div class="media-body align-self-center">
                          <h5>
                              <a href="car-details.html">2016 Audi R8</a>
                          </h5>
                          <p>February 27, 2022</p>
                          <p> <strong>$245,000</strong></p>
                      </div>
                  </div>
                  <div class="media">
                      <a class="pr-3" href="car-details.html">
                          <img src="banner-2.jpg" alt="car">
                      </a>
                      <div class="media-body align-self-center">
                          <h5>
                              <a href="car-details.html">Read Audi A7 TDI</a>
                          </h5>
                          <p>February 27, 2022</p>
                          <p> <strong>$245,000</strong></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<hr>
<div class="row">
  <div class="col-xl-12 d-flex justify-content-center">
      <p style="color: white;" class="copy">&copy; 2024 Designed by 
          <span style="color: #3C5BFC; font-weight: bold; font-size: 1.1em;">Eng. Mohamed Ali</span>
      </p>
  </div>
</div>
  </div>
</footer>

<!-- end footer  -->